<!-- Services Section -->
<section id="services" class="bg-light">
    <div class="container">
       <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center heading">
             <div class="header-page">
                <h2>My Services</h2>
                <span></span>
             </div>
             <span class="heading-meta-sub">SERVICES</span>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4">
             <div class="service">
                <div class="icon">
                   <i class="fab fa-codepen"></i>
                </div>
                <div class="box-num">
                   <h2>01</h2>
                </div>
                <div class="text">
                   <h3>Branding</h3>
                   <p>Crafting Memorable Visual Identities with Impact </p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="service">
                <div class="icon">
                   <i class="fas fa-desktop"></i>
                </div>
                <div class="box-num">
                   <h2>02</h2>
                </div>
                <div class="text">
                   <h3>Web Design</h3>
                   <p>Transforming Ideas into Engaging Web Experiences </p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="service">
                <div class="icon">
                   <i class="fas fa-paint-brush"></i>
                </div>
                <div class="box-num">
                   <h2>03</h2>
                </div>
                <div class="text">
                   <h3>User Interface</h3>
                   <p>Creating Intuitive Interfaces for Seamless User Interaction</p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="service">
                <div class="icon">
                   <i class="bi bi-people-fill"></i>
                </div>
                <div class="box-num">
                   <h2>04</h2>
                </div>
                <div class="text">
                   <h3>User Experience</h3>
                   <p>Guiding Users through Delightful Digital Journeys </p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="service">
                <div class="icon">
                   <i class="bi bi-hand-index-fill"></i>
                </div>
                <div class="box-num">
                   <h2>05</h2>
                </div>
                <div class="text">
                   <h3>Interaction Design</h3>
                   <p>Breathing Life into User-Centered Interactions </p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="service">
                <div class="icon">
                   <i class="far fa-life-ring"></i>
                </div>
                <div class="box-num">
                   <h2>06</h2>
                </div>
                <div class="text">
                   <h3>Help &amp; Support</h3>
                   <p>Dedicated Support for Project Success and Beyond. </p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- End Services Section -->