<!-- Preloader -->
<div id="preloader">
    <div class="pre-container">
       <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
       </div>
    </div>
 </div>
 <!-- Εnd Preloader -->
 
 <!-- Main menu -->
 <nav id="main-nav">
    <div class="js-fullheight table">
       <div class="table-cell js-fullheight">
          <ul>
             <li><a href="{% url 'index' %}">Home</a></li>
             <li><a href="#about">About</a></li>
             <li><a href="#work">Work</a></li>
             <li><a href="#contact">Contact</a></li>
          </ul>
          <!-- Social -->
          <p class="social-icon">
             <a href="https://www.facebook.com/warflyer3456/"><i class="fab fa-facebook-square"></i></a>
             <a href="https://www.instagram.com/s4mirstha/"><i class="fab fa-instagram"></i></a>
          </p>
       </div>
    </div>
 </nav>
 <!-- Scroll icon -->
 <div class="scroll-icon">
    <a href="#info" class="smoothscroll">
       <div class="mouse"></div>
    </a>
    <div class="end-top"></div>
 </div>
 <div id="page">

    <!-- header -->
    <header class="header">
       <div class="container">
          <div class="navbar-brand">
             <div class="row">
                <div class="col-xs-6">
                   <!-- Logo -->
                   <h1 class="text-left"><a class="logo" href="{% url 'index' %}">SS</a></h1>
                </div>
             </div>
          </div>
       </div>
    </header>
    <!-- End Header -->